.box{
    width: 240px;
    height: 240px;
    background-color: blue !important;
}

#second{
            color: red;
        }

        .header{
            color: blueviolet;
        }

        .font-size{
            font-size: 50px;
        }

        .font-color{
            color: green;
        }

        #hello{
            color: brown !important;
        }

        .box{
            background-color: red;
        }